@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "piazzolla", serif;
}
:root {
  --main-bg: #1e272e;
  --main-color: #0097e6;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.row {
  margin: 0;
}
.navbar {
  color: #fff;
  /* background-color: var(--main-bg); */
  padding: 2em 0;
}
.navbar li {
  margin-right: 1rem;
}
.navbar a {
  color: #fff;
  font-size: 1.8rem;
}
.navbar a:hover {
  color: rgb(10, 192, 238);
}
.navbar-toggler {
  /* background-color: rgb(123, 75, 155); */
  size: 3rem;
}
.fa-snowflake {
  transition: all linear;
  animation: rot 2s linear infinite;
  color: lightblue;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main_header_left {
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main_header_left p {
  font-size: 2rem;
}
.main_header_right h1 {
  font-size: 4rem;
  margin: 1rem 0 4rem 0;
  text-transform: capitalize;
}
.main_header_right {
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main_header_left .text_clr {
  color: rgb(56, 127, 153);
}
.main_header_left button {
  border: none;
  margin-top: 1rem;
  padding: 0.8rem 1.8rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: 0 8px 10px -6px #000;
}
.main_header_left button:hover {
  box-shadow: 0 8px 10px -6px rgb(20, 169, 223);
}
.main_header_right figure img {
  filter: drop-shadow(0 0.5rem 0.5rem black);
}
.tempInformation {
  width: 50rem;
  margin: auto;
  min-height: 20rem;
  background-color: #323544;
  border-radius: 1rem;
}
.top_layer {
  width: 100%;
  height: 20%;
  background-color:#2d303d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}
.top_layer p {
  color: #fff;
  font-weight: 300;
  padding: 2rem;
  font-size: 1.5rem;
}
.main_layer {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.main_layer #city_name {
  padding: 0.2rem 0;
  margin-left: 50px;
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
}
.main_layer .middle_layer {
  display: flex;
  justify-content: space-around;
  color: #fff;
}
.main_layer .middle_layer p,
.main_layer .middle_layer .fa {
  font-size: 7rem;
  font-weight: 900;
}
.fa{
    color: #009ad8;
}
sup{
    font-size: 6rem;
    margin-top: -2rem;
}
.data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
}
.temp_form{
    width: 60%;
    position: relative;
    margin: 5rem auto 6rem;

}
.temp_form input[type='text']{
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background-color: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem ;
}
::placeholder{
    color: #bfc1c8;
}
.temp_form input[type='submit']{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #009ad8;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
   

}
.temp_form input[type='submit']:hover{
    color: #009ad8;
    background-color: #fff;
}
/* footer code */
footer {
  width: 100%;
  background-color: rgb(5, 59, 78);
  margin-top: auto;
  /* margin-top: 2px; */
  margin-top: 150px;
}
footer p {
  margin: 0;
  text-align: center;
  color: #fff;
  line-height: 8rem;
  font-size: 1.4rem;
  
}
img {
  height: 350px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 8px 6px -6px black;
}

/* @media (max-width: 768px) {
  .main_header_left {
    height: auto;
    margin: 5rem 0;
  }
  .main_header_right {
    height: auto;
    margin: rem 0;
  }
} */

/* responsive code  */

@media (max-width: 768px) {
  .main_header_left {
    height: auto;
    margin: 5rem 0;
  }

  .main_header_right {
    height: auto;
    margin-top: 3rem;
  }

  .temp_form {
    width: auto;
  }
  .tempInformation {
    width: auto;
  }

  .main_layer .middle_layer p,
  .main_layer .middle_layer .fa {
    font-size: 5rem;
    font-weight: 900;
  }
  sup{
    font-size: 4rem;
  }
  .main_layer #city_name{
    font-size: 2rem;
  }
}
